<div id="user-all-posts">
    <%= render partial: "users/user_data", locals: { user: @user } %>

    <% flash.each do |name, message| -%>
        <div class="<%= name %>-flash">
          <%= message %>
        </div>
    <% end -%>

    <h2 class="add-post"><%= link_to 'Add new Post', new_user_post_path %><h2>

    <div id="posts-container">
        <% @posts.each_with_index do |post, i| %>
            <div class="each-post-container">
                <%= render partial: "posts/post_data", locals: { post: post, i: i + 1 } %>
                <div id="post-comments">
                    <% if post.five_recent_comments.empty? %>
                        <p class="each-comment">No Comments found!</p>
                    <% else %>
                        <% post.five_recent_comments.each do |comment|%>
                            <p class="each-comment">@<%= comment.user.name %>: <%= comment.text %></p>
                        <% end %>
                    <% end %>
                </div>
            </div>
        <% end %>
    </div>

    <%= will_paginate %>
</div>